<template>
  <div class="">
    <b-container>
      <b-row class="pt-4">
        <b-col>
          <b-list-group>
            <b-list-group-item v-for="pleyer in state.rank" :key="pleyer.id" class="d-flex align-items-center">
              <b-avatar  v-bind:src="pleyer.avatar" class="mr-3" icon="trophy-fill">
              </b-avatar>
               <span class="mr-auto">{{pleyer.name}} </span>
              <span class="mr-auto">{{pleyer._points}} Pontos</span>
                 <img height="50px" width="50px" v-if="state.rank[0].name===pleyer.name" src="../assets/one.jpg" />
              <b-avatar square class="mr-3" icon="trophy-fill" v-if="state.rank[0].name!==pleyer.name">
              </b-avatar>
              <b-badge></b-badge>
            </b-list-group-item>
          </b-list-group>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
export default {
  /**
   * component state
   */
  data: function() {
    return {
      counter: 0
    }
  },
  /**
   * Function of computed values
   */
  computed: {
    /**
     * Avatar of the player
     */
    avatar() {
      return this.state.player.avatar === ''
        ? 'https://gravatar.com/avatar/f9124910337ff9bfae564516af56fd8f?s=400&d=robohash&r=x'
        : this.state.player.avatar
    },
    /**
     * Player's connection
     */
    connection() {
      return this.$store.getters.getConnection
    },
    /**
     * State of the player
     */
    state() {
      return this.$store.getters.getState
    }
  },
  /**
   * method called when component is mounted
   */
  mounted() {
    this.connection.setRanking = function(event) {
    }
  },
  /**
   * method called when component is created
   */
  created() {
    this.connection.getRanking()
  }
}
</script>
<style scoped>
h1,
h2 {
  font-weight: normal;
}
#trofeu {
  height: 50px;
  width: 50px;
  position: absolute;
  padding: 0;
  margin: 0;
  float: left;
}
</style>
