<template>
  <img
    draggable="false"
    class="blood"
    src="../assets/bloooood.gif"
    alt="Sangue a jorrar"
  />
</template>

<script>
export default {
  name: 'Blood'
}
</script>

<style>
.blood {
  height: 110px;
  width: 110px;
  position: absolute;
  padding: 0;
  margin: 0;
  float: left;
  z-index: 998;
}
</style>
