<template>
  <div id="board"></div>
</template>

<script>
import {
  isInRange,
  getPosition
} from '../util'
import * as settings from '../../settings.json'
import GameBusiness from '../GameBusiness'
import './Opponent.vue'

const BOARD_LENGTH = 17
const BOARD_HEIGTH = 11
const Game = new GameBusiness()

export default {
  name: 'Board',
  /**
   * Function of computed values
   */
  computed: {
    state() {
      return this.$store.getters.getState
    }
  },
  methods: {
    /**
     * Responsible for generating the board
     */
    createBoard() {
      let board = document.getElementById('board')
      for (let i = 0; i < BOARD_HEIGTH; i++) {
        for (let j = 0; j < BOARD_LENGTH; j++) {
          let square = document.createElement('div')
          square.id = `X${i}Y${j}`
          square.className = 'outerSquare' + this.getBoardColorClassName()
          // make square have 4 draggable divs in it
          for (let k = 1; k <= 4; k++) {
            this.createDraggableDiv(square, square.id + `_${i}`)
          }
          board.appendChild(square)
        }
      }
    },
    /**
     * Responsible for creating sub board squares
     * @param {DomElement} : square
     * @param {string} : newId
     */
    createDraggableDiv(square, newId) {
      const innerSquare = document.createElement('div')
      // Register drag and drop handlers
      Object.entries({
        'drop': this.onDrop,
        'dragover': this.onDragOver,
        'dragexit': this.onDragExit
      }).forEach(([k, v]) => {
        innerSquare.addEventListener(k, v)
      })
      innerSquare.id = newId
      innerSquare.className = 'innerSquare' + this.getBoardColorClassName()
      square.appendChild(innerSquare)
    },
    /**
     * Generates a classname to define board color
     */
    getBoardColorClassName() {
      return ' inner-water-' + this.state.style
    },
    /**
     * Event handler to deal with dragover event
     * @param {object} : ev
     */
    onDragOver(ev) {
      ev.preventDefault()
      const charPosition = {
        xPos: this.state.game.me.xPos || 11,
        yPos: parseFloat(this.state.game.me.yPos) || 8
      }
      const targetPosition = getPosition(ev.target.parentNode.id)
      let data = ev.dataTransfer.getData('text')
      const draggable = document.getElementById(data)
      if (!draggable) return
      if ((draggable.className === 'human') && isInRange(targetPosition, charPosition, this.state.game.me.speed)) {
        ev.target.style.backgroundColor = settings.styles[this.state.style].rangeMarker
      }
    },
    /**
     * Event handler to deal with dragoend event
     * @param {object} : ev
     */
    onDragExit(ev) {
      ev.preventDefault()
      ev.target.style.backgroundColor = settings.styles[this.state.style].seacolor
    },
    /**
     * Event handler to deal with drop event
     * @param {object} : ev
     */
    onDrop(ev) {
      ev.preventDefault()
      if (ev.target.id[0] === 'X') {
        ev.target.style.backgroundColor = settings.styles[this.state.style].seacolor
      }
      const draggable = document.getElementById(ev.dataTransfer.getData('text'))
      const charPosition = {
        xPos: parseFloat(this.state.game.me.xPos) || 11,
        yPos: parseFloat(this.state.game.me.yPos) || 8
      }
      // Check if user is allowed to drop
      const destination = getPosition(ev.target.parentNode.id)
      if (!draggable) return
      if (draggable.className === 'powerUp seal') {
        Game.dropSeal(draggable, ev.target)
      }
      if (draggable.className === 'human' && !isInRange(destination, charPosition, this.state.game.me.speed - 0.2)) {
        Game.movePlayer(draggable, ev.target)
      }
    }
  },
  /**
   * method called when component is mounted
   */
  mounted() {
    if (this.state.connection) {
      this.state.connection.onOpponentMove = Game.moveOpponent
    }
    this.createBoard()
    // place sharks has to be called after shark initiation, we are using a static method here
    Game.spawnSharks()
  }
}
</script>
<style>
#board {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}

.innerSquare {
  width: 18px;
  height: 18px;
  /* background-color: lightblue; */
  box-sizing: border-box;
  text-align: left;
}

.outerSquare {
  width: 36px;
  height: 36px;
  /* background-color: lightblue; */
  display: flex;
  flex-wrap: wrap;
}
</style>
