<template>
<div>
  <img
    v-bind:draggable="me.turnToPlay"
    id="character"
    class="human"
    src="../assets/character.png"
    v-bind:alt="altDescription"
  />
</div>
</template>

<script>
import * as settings from '../../settings.json'
export default {
  name: 'Character',
  /**
   * Function of computed values
   */
  computed: {
    /**
     * State of the player
     */
    me() {
      return this.$store.getters.getMe
    },
    /**
     * Alt description of the player's character
     */
    altDescription() {
      const xPos = this.me.xPos
      const yPos = this.me.xPos
      const position =
        !!xPos && !!yPos
          ? `X=${xPos} Y=${yPos}`
          : settings.dictionary['pt'].imgAlts.initialPos
      const positionDesc =
        settings.dictionary['pt'].imgAlts.character + position
      return positionDesc
    }
  },
  methods: {
    /**
     * method called when drag
     * @param {event} ev : event from the DOM
     */
    drag(ev) {
      ev.dataTransfer.setData('text', ev.target.id)
    }
  },
  /**
   * method called when component is mounted
   */
  mounted() {
    const character = document.getElementById('character')
    character.addEventListener(
      'dragstart',
      this.$store.getters.getMe.turnToPlay || this.drag,
      false
    )
  }
}
</script>

<style>
#character {
  height: 39px;
  width: 39px;
  position: absolute;
  padding: 0;
  margin: 0;
  float: left;
  z-index: 999;
}
</style>
