<template>
  <div id="chooseMode">
    <input type="radio" id="easy" value="easy" v-model="mode" />
    <label for="easy">Fácil</label>
    <input type="radio" id="medium" value="medium" v-model="mode" />
    <label for="medium">Médio</label>
    <input type="radio" id="hard" value="hard" v-model="mode" />
    <label for="hard">Difícil</label>
    {{ setMode() }}
  </div>
</template>

<script>
export default {
  name: 'ChooseMode',
  /**
   * component state
   */
  data: function() {
    return { mode: '' }
  },
  methods: {
    /**
     * Set mode for game: easy|medium|hard
     */
    setMode() {
      this.$store.dispatch('setMode', this.mode)
    }
  }
}
</script>

<style>
#chooseMode {
  padding-top: 10pt;
  width: 100%;
}

#chooseMode > label {
  font-size: 10pt;
}
</style>
