<template>
  <div id="colorblindTypeChoose">
    <input type="radio" id="normal" value="1" v-model="colorblindType">
    <label for="normal">1-Normal</label>
    <input type="radio" id="protanopia" value="2" v-model="colorblindType">
    <label for="protanopia">2-Protanopia</label>
    <input type="radio" id="deuteranopia" value="3" v-model="colorblindType">
    <label for="deuteranopia">3-Deuteranopia</label>
    <input type="radio" id="tritanopia" value="4" v-model="colorblindType">
    <label for="tritanopia">4-Tritanopia</label>
    <input type="radio" id="acromatopsia" value="5" v-model="colorblindType">
    <label for="acromatopsia">5-Acromatopsia</label>
    {{setColorblindType()}}
  </div>
</template>

<script>
export default {
  name: 'ColorblindTypeChoose',
  data: function() {
    return { state: this.$store.getters.getState, colorblindType: '1' }
  },
  methods: {
    /**
     * Set color blind type
     */
    setColorblindType() {
      this.$store.dispatch('setStyle', this.colorblindType)
    }
  },
  mounted() {
    // Key Codes:
    if (!this.state.style) return
    window.addEventListener('keypress', (e) => {
      const key = parseInt(e.key)
      if (key >= 1 && key <= 5) {
        this.colorblindType = e.key
        this.setColorblindType()
      }
    })
  }
}
</script>

<style>
#colorblindTypeChoose {
  padding-top: 10pt;
  width: 100%;
  font-weight: bold;
  font-size: 10pt;
}
</style>
