<template>
  <div class="content">
    <!-- <ColorblindTypeChoose></ColorblindTypeChoose> -->
    <div class="content" v-show="state.game.isOn===false">
        <b-row>
          <b-col cols="8">
               <b-tabs class="pt-3 nav-tab"  >
                  <b-tab active id="achievement" >
                     <template #title>
                     <h4> <b-icon icon="graph-up"  variant="dark"></b-icon> Ranking</h4>
                     </template>
                     <Achievement></Achievement>
                  </b-tab>
                  <b-tab id="store" >
                    <template #title>
                      <h4><b-icon icon="cart2" variant="dark"></b-icon> Store </h4>
                     </template>
                      <Store></Store>
                  </b-tab>
                  <b-tab id="historic" >
                    <template #title>
                      <h4><b-icon icon="list-task" variant="dark"></b-icon>Rating</h4>
                     </template>
                    <Historic></Historic>
                  </b-tab>
               </b-tabs>
          </b-col>
          <b-col cols="4" class="p-2" >
             <choose-mode/>
              <b-button id="startgame" variant="info" @click="startMatch" >Jogar</b-button>
            <PowerUpsList />
          </b-col>
        </b-row>
    </div>
      <div class="Board-game" v-show="state.game.isOn">
           <b-row>
            <div class="board-stage">
                 <Board/>
            </div>
            <div class="status-stage" >
               <div class="p-2 general-turn-box" v-bind:class="isMyTurnToPlayClass">
                <img v-bind:src="avatar" rounded="" class="align-baseline" width="60" height="60" />
                <p>{{me.username}}</p>
                 <p>Nivel: {{state.game.me.mode}}</p>
                 <p>Pontos: {{state.player.points}}</p>
               </div>
                <div class="p-2 general-turn-box" v-bind:class="notMyTurnToPlayClass">
                  <b-avatar v-bind:src="opponentAvatar" rounded="" variant=""  class="align-baseline"></b-avatar>
                  <p> {{opponent.name}} </p>
                 <p>Nivel: {{opponent.mode}} </p>
                 <p>Pontos: {{state.game.opponent.points}}</p>
               </div>
            </div>
           </b-row>
        <div class="footer">
          <b-row>
            <b-col cols="3" >
               <div class="h2 mb-0">
                <b-icon id="hert1" v-bind:color="life1color" icon="heart-fill"></b-icon>
                <b-icon id="hert2" v-bind:color="life2color" icon="heart-fill"></b-icon>
                <b-icon id="hert3" v-bind:color="life3color" icon="heart-fill"></b-icon>
             </div>
            </b-col>
            <b-col cols="1" ></b-col>
            <b-col cols="2" >
                <div id="X11Y8">
                  <Opponent />
                  <Character />
                </div>
            </b-col>
            <b-col cols="3" ></b-col>
            <b-col cols="3" >
               <div class="h6 mb-0">
                <b-icon id="hert4" v-bind:color="oppoLife1color" icon="heart-fill"></b-icon>
                <b-icon id="hert5" v-bind:color="oppoLife2color" icon="heart-fill"></b-icon>
                <b-icon id="hert6" v-bind:color="oppoLife3color" icon="heart-fill"></b-icon>
                </div>
            </b-col>
           </b-row>
        </div>
      </div>
    </div>
</template>

<script>
import Board from './Board'
import Character from './Character'
import Opponent from './Opponent'
import ChooseMode from './ChooseMode.vue'
import Store from './Store'
import Historic from './Historic'
import Achievement from './Achievement'
import PowerUpsList from './PowerUps/PowerUpsList'
import * as settings from '../../settings.json'

export default {
  name: 'Content',
  components: {
    Board,
    Character,
    Opponent,
    ChooseMode,
    Store,
    Historic,
    Achievement,
    PowerUpsList
  },
  /**
   * component state
   */
  data: function() {
    return {
      opcion: 'achievement'
    }
  },
  /**
   * Function of computed values
   */
  computed: {
    /**
     * Function of current session ID
     */
    sessionId() {
      return this.$store.getters.getSessionId
    },
    /**
     * Function that returns the connection
     */
    connection() {
      return this.$store.getters.getConnection
    },
    /**
     * Function that returns player's state
     */
    state() {
      return this.$store.getters.getState
    },
    /**
     * Function that returns player's variables
     */
    me() {
      return this.$store.getters.getPlayer
    },
    /**
     * Function that returns the opponent
     */
    opponent() {
      return this.$store.getters.getOpponent
    },
    heartFilled() {
      return settings.styles[this.state.style].heartFilled
    },
    heartEmpty() {
      return settings.styles[this.state.style].heartEmpty
    },
    /**
     * Function that returns the player's avatar
     */
    avatar() {
      return this.state.player.avatar === ''
        ? 'https://gravatar.com/avatar/f9124910337ff9bfae564516af56fd8f?s=400&d=robohash&r=x'
        : this.state.player.avatar
    },
    /**
     * Function that returns the opponent's avatar
     */
    opponentAvatar() {
      return this.state.game.opponent.avatar === ''
        ? 'https://gravatar.com/avatar/3230c2de50ad4af311effee0836ace17?s=400&d=robohash&r=x'
        : this.state.game.opponent.avatar
    },
    /**
     * Function returns the class for players the turn to play box
     */
    isMyTurnToPlayClass() {
      const isMyTurn = this.state.game.me.turnToPlay
      return isMyTurn ? 'playTime-' + this.state.style : 'playTime'
    },
    /**
     * Function returns the class for oppoenent the turn to play box
     */
    notMyTurnToPlayClass() {
      const isMyTurn = this.state.game.me.turnToPlay
      return !isMyTurn ? 'playTime-' + this.state.style : 'playTime'
    },
    /**
     * Function that returns the color of his first heart
     */
    life1color() {
      return this.state.game.me.lifes > 0 ? this.heartFilled : this.heartEmptympty
    },
    /**
     * Function that returns the color of his second heart
     */
    life2color() {
      return this.state.game.me.lifes > 1 ? this.heartFilled : this.heartEmptympty
    },
    /**
     * Function that returns the color of his third heart
     */
    life3color() {
      return this.state.game.me.lifes > 2 ? this.heartFilled : this.heartEmptympty
    },
    /**
     * Function that returns the color of his opponent's first heart
     */
    oppoLife1color() {
      return this.state.game.opponent.lifes > 0 ? this.heartFilled : this.heartEmptympty
    },
    /**
     * Function that returns the color of his opponent's second heart
     */
    oppoLife2color() {
      return this.state.game.opponent.lifes > 1 ? this.heartFilled : this.heartEmptympty
    },
    /**
     * Function that returns the color of his opponent's third heart
     */
    oppoLife3color() {
      return this.state.game.opponent.lifes > 2 ? this.heartFilled : this.heartEmptympty
    }
  },

  methods: {
    /**
     * Function that starts the match
     */
    startMatch() {
      this.$store.getters.getConnection.startMatch()
    },
    /**
     * Function that chooses the option
     */
    optionMade(Shoose) {
      this.opcion = Shoose
    }
  }
}
</script>
<style scoped>
.content {
  height: 440px;
  width: 750px;
  background-color: #f8f8f2;
}
h1,
h2 {
  font-weight: normal;
}
#div-board{
  width: 750px;
}
.footer{
  margin-top: 0px;
  height: 40px;
  width: 750px;
  background-color: #c1a16a;
}
#div-board-size{
  width: 620px;
}
#div-users{
  height: 400;
  width: 110px;
}
.nav-tab{
  flex-wrap: nowrap;
  white-space: nowrap;
  height:  440px;
  overflow-y: auto;
  overflow-x: hidden;
}
.general-turn-box {
    width: 100%;
    height: 48%;
    margin: 0;
    padding: 0;
    border-radius: 7px;
}
.general-turn-box > p {
  padding: 1px;
  margin: 0;
}
.status-stage {
width: 120px;
padding: 10px 0 0 0;
}
.board-stage {
    width: 630px;
}
</style>
