<template>
  <div v-show="value">
    <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-container size-m">
            <div class="modal-header">
              <span @click="close" class="btn-xclose">X</span>
              <h5>Regras do jogo</h5>
            </div>
            <div class="modal-body">
              <div>
                <h6>Objectivo do Jogo</h6>
                <p>{{ gameRule.goals }}</p>
                <h6>Como Funciona?</h6>
                <p>{{ gameRule.howWorks.join('\n') }}</p>
                <h6>Daltonismo:</h6>
                <p>{{ gameRule.dalton.join('\n') }}</p>
              </div>
            </div>
            <div class="modal-footer">
              <button
                class="modal-default-button btn-secundary"
                @click="close"
              >
                Fechar
              </button>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>
<script>
import gameRules from '../json/gameRules.json'
import '../css/modal.css'
import '../css/style.css'

export default {
  name: 'GameRule',
  /**
   * component state
   */
  data() {
    return {
      gameRule: gameRules
    }
  },
  props: {
    value: {
      required: true
    }
  },
  methods: {
    /**
     * Function that closes the game's rules
     */
    close() {
      this.$emit('input', !this.value)
    }
  }
}
</script>

<style scoped>
p {
    font-size: 9pt;
}
</style>
