<template>
  <div v-show="value">
    <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-container size-m">
            <div class="modal-header">
              <span @click="close" class="btn-xclose">X</span>
              <h5>O jogo terminou </h5>
            </div>
            <div class="modal-body">
              <div class="center">
                <h5> Realizaste {{counter}} Jogos</h5>
                    <img   v-show="state.result ===1" width="100" height="100"
                      class="result"
                      src="../assets/happy.png"
                      alt="Smiley com cara feliz."/>
                     <img   v-show="state.result ===-1" width="100" height="100"
                        class="result"
                        src="../assets/sad.png"
                        alt="Smiley com cara triste."/>
                     <img   v-show="state.result === 0" width="100" height="100"
                        class="result"
                        src="../assets/empate.png"
                        alt="Smiley com cara indiferente."/>
                    <h5> {{message}}</h5>
              </div>
            </div>
            <div class="modal-footer">
              <button
                class="modal-default-button btn-secundary"
                @click="close"
              >
                Fechar
              </button>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>
<script>

import '../css/modal.css'
import '../css/style.css'
import * as settings from '../../settings.json'
export default {
  name: 'GameOver',
  /**
   * component state
   */
  data() {
    return {
      counter: 0
    }
  },
  computed: {
    /**
     * Function that returns player's state
     */
    state() {
      return this.$store.getters.getState
    },
    message() {
      return settings.dictionary['pt'].gameResult[this.state.result]
    }
  },
  props: {
    value: false
  },
  methods: {

    close() {
      this.$emit('input', !this.value)
    }
  },
  mounted() {
    this.counter = parseInt(localStorage.counter)
  }
}
</script>

<style scoped>
p {
    font-size: 10pt;
}
.center{
   margin-left: auto;
   margin-right: auto;
   width: 50%; /* Valor da Largura */
}
</style>
