<template>
  <div class="header p-2">
    <b-container v-show="state.game.isOn" id="game_start" class="bv-example-row">
      <b-row>
        <b-col cols="8">
          <b-row >
            <b-col cols="7"> <PilhaPW v-bind:user_pw="state.game.me.powerUps"/>
        </b-col>
        <b-col cols="5">
        </b-col>
      </b-row>
     </b-col>
   <b-col cols="2">
    <img alt="Vue logo" class="minilogo" src="../assets/logo.png" @click="splashScreen" width="55px">
</b-col>
<b-col cols="2" class="text-light">
<b-row>{{localization}}</b-row>
<b-row class="justify-content-md-center">{{hour}}</b-row>
        </b-col>
      </b-row>
     </b-container>
       <b-row>
        <b-col cols="1">
              <img v-if="state.game.isOn==false" class="minilogo" alt="Vue logo" src="../assets/logo.png" @click="splashScreen" width="55px">
        </b-col>
      </b-row>
  </div>
</template>

<script>
import PilhaPW from './PilhaPW'
import axios from 'axios'
import { abbreviate } from '../util'

export default {
  name: 'Header',
  components: {PilhaPW},
  /**
   * component state
   */
  data() {
    return {
      game_time: 20,
      localization: null,
      interval: null,
      hour: null
    }
  },
  created() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(position => {
        const latitude = 'latitude=' + position.coords.latitude
        const longitude = '&longitude=' + position.coords.longitude
        let bigDataCloudApi = 'https://api.bigdatacloud.net/data/reverse-geocode-client?'
        bigDataCloudApi += latitude + longitude + '&localityLanguage=en'
        axios
          .get(bigDataCloudApi)
          .then(response => {
            var myObj = response.data
            this.localization = abbreviate(myObj.locality, 14)
          })
          .catch(e => {
            // console.log(e)
          })
      }, err => {
        console.warn('ERROR(' + err.code + '): ' + err.message)
      })
    } else {
      return 'Geolocation is not supported by this browser.'
    }

    this.interval = setInterval(() => {
      this.hour = Intl.DateTimeFormat(navigator.language, {
        hour: 'numeric',
        minute: 'numeric',
        second: 'numeric'
      }).format()
    }, 1000)
  },
  /**
   * Function of computed values
   */
  computed: {
    /**
     * Function that returns the player
     */
    me() {
      return this.$store.getters.getPlayer
    },
    /**
     * Function that returns the opponent
     */
    opponent() {
      return this.$store.getters.getOpponent
    },
    /**
     * Function that returns the state of the game
     */
    state() {
      return this.$store.getters.getState
    }
  },
  methods: {
    /**
     * Function that shows the game time
     */
    gameTime(timeOut) {
      this.game_time = timeOut / 100
      if (this.game_time > 0) {
        setTimeout(() => {
          this.game_time -= 1
          this.gameTime()
        }, timeOut)
      }
    },
    /**
     * Function that shows the splash screen
     */
    splashScreen() {
      this.$router.push('/')
    },
    /**
     * Function that updates time
     */
    updateTime(time) {
      let lifeTime = null
      if (time === true) {
        lifeTime = this.state.game.me.lifetime / 10
      } else {
        lifeTime = this.opponent.lifetime / 10
      }
      this.gameTime(lifeTime)
    },
    beforeDestroy() {
      clearInterval(this.interval)
    },
    mounted() {
    // color: #ff0000;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.minilogo {
    cursor: pointer;
}
</style>
