<template>
  <div id="StorePw" class="pt-4">
     <b-list-group >
      <b-list-group-item  v-for="game in state.classify" :key="game.id" class="d-flex align-items-center">
        <b-row >
        <b-col v-bind:class="{ 'winner':(game.result === 1) }"> <b-avatar  v-bind:src="avatar"></b-avatar>
          <p>{{game.me.name}}</p>
        </b-col>
        <b-col  v-bind:class="{ 'winner':(game.result !== 1) }">
          <b-avatar  v-bind:src="game.opponent.avatar"></b-avatar>
           <h4>{{game.opponent.name}}</h4>
        </b-col>
         <b-col>
           <h5><b-icon icon="slash-circle"></b-icon> Duração: {{Math.round((game.endedTS-game.startedTS)/1000)}} segs</h5>
        </b-col>
        </b-row>
      </b-list-group-item>
    </b-list-group>
  </div>
</template>
<script>
export default {
  components: {},
  name: 'Historic',
  /**
   * component state
   */
  data: function() {
    return { games: [], t: 1 }
  },
  /**
   * Function of computed values
   */
  computed: {
    /**
     * Function that returns player's state
     */
    state() {
      return this.$store.getters.getState
    },
    /**
     * Function that returns the connection
     */
    connection() {
      return this.$store.getters.getConnection
    },
    /**
     * Function that returns the player's avatar
     */
    avatar() {
      return this.state.player.avatar === ''
        ? 'https://gravatar.com/avatar/f9124910337ff9bfae564516af56fd8f?s=400&d=robohash&r=x'
        : this.state.player.avatar
    },
    /**
     * Function that returns the opponent's avatar
     */
    opponentAvatar() {
      return this.state.game.opponent.avatar === ''
        ? 'https://gravatar.com/avatar/3230c2de50ad4af311effee0836ace17?s=400&d=robohash&r=x'
        : this.state.game.opponent.avatar
    }
  },
  methods: {},
  /*
   * method called when component is mounted
   */
  mounted() {
    this.connection.setClassify = function(event) {}
  },
  /*
   * method called when component is created
   */
  created() {
    this.connection.getClassify()
  }
}
</script>

<style>
.winner{
  background-color:#116930!important;
  color: white;
  border-radius: 5px;
  padding: 2px;
  width: 100px;
  height: 80px;
}
.hidden_header {
  display: none;
}
</style>
