<template>
    <div id="principal" class="home flex" >
        <img id="img-bg" alt="Fundo da aplicação. É o fundo do mar num desenho. Com algas e corais" v-bind:src="background" width="750" height="500">
        <GameRule v-model="rulesShow"></GameRule>
       <div id="foreigns-sign" v-if="state.player.username === null" class="flex d-inline-flex">
            <h5>Regista-te em <a href="http://playit.website/" alt="Playit, plataforma de gestão de jogos web.">PLAY<span class="italic">IT</span></a></h5>
        </div>
        <div id="logo-box" class="glow logo" @click="gameStart" title="Carrega no 'Enter' para iniciar ou regista-te no link em cima pressionando 'R'">
          <img id="img-start" alt="Logotipo da aplicação. Tem um formato redondo com uma foca desenhada e os contornos de um tubarão. Por cima, arredondado, lê-se Seal the Deal." v-bind:src="logo" >
        </div>
        <div id="rules-box" title="Carrega no H para apresentar as regras">
          <b-avatar class="float-right glow rules" id="regras" button  icon="question" aria-label="Regras" @click="showRule" variant="primary"></b-avatar>
       </div>
       <div id="color-blind-choose">
           <ColorblindTypeChoose></ColorblindTypeChoose>
       </div>
  </div>
</template>
<script>
import GameRule from './GameRule'
import ColorblindTypeChoose from './ColorblindTypeChoose'
import { WebSocketServer } from '../apis/backend-ws'

export default {
  name: 'Home',
  components: { GameRule, ColorblindTypeChoose },
  /**
   * Function that returns the data about the begining of our app
   */
  data() {
    return {
      rulesShow: false,
      connection: null,
      sessionId: this.$route.query.sessionId
    }
  },
  /**
   * Function of computed values
   */
  computed: {
    state() {
      return this.$store.getters.getState
    },
    style() {
      return parseInt(this.$store.getters.getState.style)
    },
    logo() {
      return require(`../assets/logo-${this.style}.png`)
    },
    background() {
      return require(`../assets/bg-${this.style}.png`)
    }
  },
  methods: {
    /**
     * Function to show rules
     */
    showRule() {
      this.rulesShow = !this.rulesShow
    },
    /**
     * Function that starts the game
     */
    gameStart() {
      if (this.state.player.username) {
        this.$router.push('player')
      }
    }
  },
  /**
   * method called when component is mounted
   */
  mounted() {
    this.$store.dispatch('setSessionId', this.sessionId)
    const wws = new WebSocketServer(this.sessionId, this.$store, this.$router)
    this.$store.dispatch('setConnection', wws)
    // Key Codes:
    window.addEventListener('keypress', (e) => {
      if (e.key.toLowerCase() === 'enter') this.gameStart()
      if (e.key.toLowerCase() === 'r') location.href = 'http://playit.website/'
      if (e.key.toLowerCase() === 'h') this.showRule()
    })
  }
}
</script>
<style scoped>
#color-blind-choose {
    position: absolute;
    top: 460px;
    left: 90px;
}

.italic{
    font-style: italic;
    font-weight: bold;
}

#foreigns-sign {
    position: absolute;
    top: 20px;
    left: 270px;
}

#logo-box{
  position: absolute;
  left: 135px;
  top: 5px;
  width: 400px;
  height: 400px;
  cursor: pointer;
}

#rules-box{
    position: absolute;
    left: 600px;
    top: 350px;
}

#img-start {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#start-button {
  height: 100px;
  width: 100px;
}

.glow {
  position: relative;
  border-radius: 100%;
  margin: 50px;
}
.glow.logo:before,
.glow.logo:after {
  position: absolute;
  content: '';
  height: 40%;
  width: 40%;
  top: 130px;
  left: 100px;
  border-radius: 200%;
  box-shadow: 0 0 15px #287ec6;
  animation: glow-grow 2s ease-out infinite;
}

.glow.rules:before,
.glow.rules:after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  border-radius: 200%;
  box-shadow: 0 0 15px #287ec6;
  animation: glow-grow 2s ease-out infinite;
}

#logo-box:hover,
#img-start:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.glow:after {
  animation-delay: .66s;
}

@keyframes glow-grow {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
</style>
