<template>
<div>
  <img
    draggable="false"
    v-bind:visible="opponent.visible"
    id="opponent"
    class="human"
    src="../assets/opponent.png"
    v-bind:alt="altDescription"
  />
</div>
</template>

<script>
import * as settings from '../../settings.json'
export default {
  name: 'Opponent',
  /**
   * Function of computed values
   */
  computed: {
    /**
     * Function that returns the opponent
     */
    opponent() {
      return this.$store.getters.getOpponent
    },
    /**
     * Function that returns the alt description of the position
     */
    altDescription() {
      const xPos = this.opponent.xPos
      const yPos = this.opponent.xPos
      const position =
        !!xPos && !!yPos
          ? `X=${xPos} Y=${yPos}`
          : settings.dictionary['pt'].imgAlts.initialPos
      const positionDesc =
        settings.dictionary['pt'].imgAlts.opponent + position
      return positionDesc
    }
  }
}
</script>

<style>
#opponent {
  height: 39px;
  width: 39px;
  position: absolute;
  padding: 0;
  margin: 0;
  float: left;
  z-index: 999;
}
</style>
