<template>
  <div id="pilha">
    <PowerUpRadar />
    <PowerUpScent />
    <PowerUpSpeed />
    <PowerUpSeal />
  </div>
</template>

<script>
import PowerUpRadar from './PowerUps/PowerUpRadar'
import PowerUpScent from './PowerUps/PowerUpScent'
import PowerUpSpeed from './PowerUps/PowerUpSpeed'
import PowerUpSeal from './PowerUps/PowerUpSeal'

export default {
  name: 'PilhaPW',
  components: {
    PowerUpScent,
    PowerUpSpeed,
    PowerUpRadar,
    PowerUpSeal
  },
  data() {
    return {
      id: null
    }
  },
  props: {
    user_pw: {
      type: Object
    }
  }
}
</script>

<style>
.powerUp {
  height: 50px;
  width: 50px;
  /* background-color: green; */
  position: absolute;
  padding: 0;
  margin: 0;
  float: left;
}

#pilha{
    background-color: #6c757d;
    border-radius: 5px;
}
</style>
