<template>
  <img
    class="shark"
    src="../assets/shark.png"
    v-bind:alt="altDescription"
    draggable="false"
  />
</template>

<script>
import * as settings from '../../settings.json'
export default {
  name: 'Shark',
  computed: {
    altDescription() {
      return settings.dictionary['pt'].imgAlts.shark
    }
  }
}
</script>

<style>
.shark {
  height: 50px;
  width: 50px;
  position: absolute;
  padding: 0;
  margin: 0;
  float: left;
  z-index: 1001;
}
</style>
