<template>
  <div class="startGame">
    <Header/>
    <Content/>
  <div>
    <!-- {{state.result}} -->
    <GameOver v-model="gameOver"></GameOver>
    <!-- <VuexView/> -->
  </div>
  </div>
</template>

<script>
import Header from './Header'
import Content from './Content'
import VuexView from './VuexView'
import GameOver from './GameOver'
export default {
  name: 'StartGame',
  components: { Header, Content, VuexView, GameOver },
  computed: {
    connection() {
      return this.$store.getters.getConnection
    },
    state() {
      return this.$store.getters.getState
    }
  },
  data() {
    return {
      counter: 0,
      gameOver: false
    }
  },
  mounted() {
    if (localStorage.counter && localStorage.counter !== 'NaN') {
      this.counter = parseInt(localStorage.counter)
    } else {
      localStorage.counter = 0
    }
    this.connection.Getgameover = (event) => {
      this.gameOver = true
      localStorage.counter = parseInt(localStorage.counter) + 1
      this.counter = parseInt(localStorage.counter)
    }
  }
}
</script>

<style scoped>
h1,
h2 {
  font-weight: normal;
}

</style>
