<template>
  <div id="StorePw">
     <b-alert variant="success" :show="alertResult"
      dismissible
      fade
     >{{result}}</b-alert>
    <b-row class="pt-4">
      <b-col>
    <h3>Créditos: {{Math.round(state.player.credits)}}</h3>
       <b-table-simple hover  caption-top >
        <b-tbody>
          <b-tr v-for="pw in powerups" :key="pw.id">
            <b-td><b-avatar variant="secondary"></b-avatar></b-td>
            <b-td>{{pw.nome}} </b-td>
            <b-td>
              <b-badge  v-bind:id="'add' + pw.nome" @click="updateTotal(pw,'add')">+</b-badge>
                {{pw.amount}}
              <b-badge v-bind:id="'subtract' + pw.nome" class="w-40" @click="updateTotal(pw,'subtract')">-</b-badge>
            </b-td>
          </b-tr>
        </b-tbody>
        <b-tfoot>
          <b-tr>
              <b-td colspan="3" variant="secondary" class="text-right">
              Total: <b>{{Math.round(total)}}</b>
            </b-td>
          </b-tr>
        </b-tfoot>
       </b-table-simple>
        <b-button  @click="buypowerup(itensbuy)" class="float-right" id="buy" >Comprar</b-button>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import * as settings from '../../settings.json'

export default {
  components: {},
  name: 'Store',
  /**
   * component state
   */
  data: function() {
    const store = this.$store.getters.getStore
    const powerups = []
    Object.keys(store).forEach(k => {
      powerups.push({
        id: store[k].id,
        icon: '',
        nome: store[k].displayName.pt,
        price: store[k].price,
        amount: 0
      })
    })
    return {
      total: 0,
      powerups: powerups,
      itensbuy: [],
      result: null,
      alertResult: 0,
      alertVariante: null
    }
  },
  /**
   * Function of computed values
   */
  computed: {
    /**
     * Function that returns the connection of the user
     */
    connection() {
      return this.$store.getters.getConnection
    },
    /**
     * Function that returns the users' state
     */
    state() {
      return this.$store.getters.getState
    }
  },
  methods: {
    /**
     *  Function that updates the items that the user bought
     *  @param {object} powerup : powerup object
     */
    updateItem(powerup) {
      var inArry = false
      // verify if the powerup is in array, and add if it isn´t

      if (this.itensbuy.length !== 0) {
        for (let i = 0; i < this.itensbuy.length; i++) {
          if (this.itensbuy[i].id === powerup.id) {
            this.itensbuy[i].amount = powerup.amount
            inArry = true
            break
          }
        }
      }
      if (inArry === false) {
        this.itensbuy.push({ id: powerup.id, amount: 0 })
      }
    },
    /**
     *  Function that updates the total powerups
     *  @param {object} powerup : powerup object
     *  @param {type} string : powerup name
     */
    updateTotal(powerup, type) {
      this.updateItem(powerup)
      for (let i = 0; i < this.powerups.length; i++) {
        if (this.powerups[i].id === powerup.id) {
          if ((type === 'subtract') && (this.powerups[i].amount !== 0)) {
            this.powerups[i].amount--
            this.updateItem(powerup)
            this.total = this.total - powerup.price
          } else if (type === 'add') {
            this.powerups[i].amount++
            this.updateItem(powerup)
            this.total = this.total + powerup.price
          }
          break
        }
      }
    },
    /**
     *  Function that buys powerups
     *  @param {array} itensTobuy : list of items to buy
     */
    buypowerup(itensTobuy) {
      this.connection.buyPowerup(itensTobuy)
      if (this.total === 0) {
        this.result = 'Selecione um item'
        this.alertResult = 4
      } else {
        this.result = settings.dictionary['pt'].buyPowerUp[this.state.result]
        this.alertResult = 4
      }
    }
  }
}
</script>

<style>
.hidden_header {
  display: none;
}
</style>
