<template>
  <div class="vuex-view">
    <h2>Game Started: {{ state.game.isOn }}</h2>
    <h3>Vuex</h3>
    <p>{{ state.sessionId }}</p>
    <p>{{ state.player }}</p>
    <p>{{ state.game.me }}</p>
    <p>{{ state.game.opponent }}</p>
    <p>{{ state.store }}</p>
  </div>
</template>

<script>
export default {
  name: 'VuexView',
  /**
   * Function of computed values
   */
  computed: {
    state() {
      return this.$store.getters.getState
    }
  }
}
</script>

<style scoped>
.vuex-view {
  margin-top: 10%;
  border: 2px solid rgb(0, 0, 0);
}
</style>
