.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  margin: 10px auto 10px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}
.size-b {
  width: 80%;
}
.size-s {
  width: 30%;
}
.size-m {
  width: 60%;
}

.modal-body {
  margin: 1px 0;
  padding: 0 1px 0 1px;

  text-align: justify;
}
.modal-header {
  padding: 1px 1px;
  border-bottom: 1px solid #e9ecef;
  text-align: justify;
}
.modal-footer {
  padding: 1% 1% 1%;
  border-top: 1px solid #e9ecef;
  width: auto;
}
.modal-default-button {
  margin-top: -1rem;
  float: right;
  border: 0;
  padding: 0.1rem 0.2rem;
  font-size: 12px;
  width: auto;
  border-radius: 4px;
}

/*
   * transition="modal" when their visibility is toggled by   
   */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
.btn-xclose {
  margin-top: 0.1rem;
  float: right;
  font-size: 16px;
}
.btn-xclose:hover,
.btn-xclose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
