.ln {
  display: flex;
  flex-flow: row wrap;
}
.col-50 {
  width: 50%;
}
.btn {
  border: 0;
  padding: 10px;
  font-size: 50px;
  height: 40px;
  width: auto;
  display: inline-block;
  margin: 10px;
  border-radius: 4px;
  background-color: Transparent;
  background-repeat: no-repeat;
}
.btn:hover {
  background: #030925;
  color: white;
}
#img-start {
  display: block;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
#btn-start {
  border: 0;
  position: absolute;
  display: block;
  font-size: 50px;
  height: 70px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
#btn-start:hover {
  background: #030925;
  color: white;
}
.btn-primary {
  color: #fff;
  background-color: #13426b;
  border-color: #13426b;
}
.btn-secundary {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b;
}
.btn-danger {
  color: #fff;
  background-color: #da3535;
  border-color: #da3535;
}
.btn-right {
  float: right;
}

.inner-water-1 {
  background-color: rgb(114, 204, 235);
}

.inner-water-2 {
  background-color: rgb(3, 131, 173);
}

.inner-water-3 {
  background-color: rgb(3, 131, 173);
}

.inner-water-4 {
  background-color: rgb(8, 86, 112);
}

.inner-water-5 {
  background-color: rgb(8, 86, 112);
}

.playTime {
  color: black;
  font-size: 10pt;
  font-weight: bold;
}

.playTime-1 {
  background-color: #116930;
  color: white;
  font-size: 10pt;
  font-weight: bold;
}

.playTime-2 {
  background-color: #116930;
  color: white;
  font-size: 10pt;
  font-weight: bold;
}

.playTime-3 {
  background-color: #6c757d;
  color: lightgrey;
  font-weight: bold;
  font-size: 10pt;
}

.playTime-4 {
  background-color: rgb(114, 204, 235);
  color: black;
  font-weight: bold;
  font-size: 10pt;
}

.playTime-5 {
  background-color: #6c757d;
  color: lightgrey;
  font-weight: bold;
  font-size: 10pt;
}

body {
  overflow: hidden;
}
