<template>
  <b-avatar square badge badge-variant="dark">
    <img
      class="powerUp"
      v-bind:draggable="true"
      id="radar"
      src="../../assets/Radar.png"
      alt="radar"
    />
    <template #badge>{{ n_radar }}</template>
  </b-avatar>
</template>

<script>
export default {
  /**
   * component state
   */
  data: function() {
    return {
      n_radar: 0
    }
  },
  /**
   * Function of computed values
   */
  computed: {
    state() {
      return this.$store.getters.getState
    }
  },
  methods: {
    /**
     * method called on pickup
     * @param {string} type : powerup type
     */
    onPickup(type) {
      // player state on the app
      const me = this.$store.getters.getMe
      me.powerUps[type] = me.powerUps[type] + 1
    },
    /**
     * method for usage of pickup
     */
    use() {
      // player state on the app
      const me = this.$store.getters.getMe
      me.powerUpsToUse.forEach(power => {
        power(me)
      })
    }
  },
  /**
   * method called when component is mounted
   */
  mounted() {
    this.n_radar = this.state.game.me.powerUps.radar
  }
}
</script>
