<template>
 <div>
     <b-list-group style="width: 225px;">
      <b-list-group-item class="d-flex align-items-center">
        <b-avatar square class="mr-3"> <img class="powerUp" src="../../assets/seal.png" alt="seal" /></b-avatar>
        <span class="mr-auto">Seal</span>
        <b-badge id="sealValue">{{state.game.me.powerUps.seal}}</b-badge>
      </b-list-group-item>
      <b-list-group-item class="d-flex align-items-center">
        <b-avatar square class="mr-3"> <img class="powerUp" src="../../assets/scent.png" alt="scent" /></b-avatar>
        <span class="mr-auto">Scent</span>
        <b-badge id="scentValue">{{state.game.me.powerUps.scent}} </b-badge>
      </b-list-group-item>
      <b-list-group-item  class="d-flex align-items-center">
        <b-avatar square class="mr-3"><img class="powerUp" src="../../assets/Radar.png" alt="scent" /></b-avatar>
        <span class="mr-auto">Radar </span>
        <b-badge id="sealValue">{{state.game.me.powerUps.radar}}</b-badge>
      </b-list-group-item>
      <b-list-group-item class="d-flex align-items-center">
        <b-avatar square class="mr-3"><img class="powerUp" src="../../assets/speed.png" alt="scent" /></b-avatar>
        <span class="mr-auto">Speed</span>
        <b-badge id="speedValue">{{state.game.me.powerUps.speed}}</b-badge>
      </b-list-group-item>
    </b-list-group>
  </div>
</template>

<script>
export default {
  name: 'PowerUpsList',
  /**
   * Function of computed values
   */
  computed: {
    state() {
      return this.$store.getters.getState
    },
    powerUps() {
      // player's powerups state on the app
      const powerUps = this.$store.getters.getMe.powerUps
      const powerUpsList = []
      powerUps.keys.forEach(k => {
        for (let i = 0; i < powerUps[k]; i++) {
          powerUpsList.push(k)
        }
      })
      return powerUpsList
    }
  }
}
</script>

<style>
#speed {
  height: 20px;
  width: 20px;
  background-color: red;
  position: absolute;
  padding: 0;
  margin: 0;
  float: left;
}
#radar {
  height: 20px;
  width: 20px;
  background-color: green;
  position: absolute;
  padding: 0;
  margin: 0;
  float: left;
}
#scent {
  height: 20px;
  width: 20px;
  background-color: yellow;
  position: absolute;
  padding: 0;
  margin: 0;
  float: left;
}
#seal {
  height: 20px;
  width: 20px;
  position: absolute;
  padding: 0;
  margin: 0;
  float: left;
}
</style>
