<template>
  <b-avatar square badge badge-variant="dark">
    <img
      class="powerUp"
      @click="use"
      id="speed"
      src="../../assets/speed.png"
      alt="powerup radar"
    />
    <template #badge>{{ n_speed }}</template>
  </b-avatar>
</template>

<script>
export default {
  /**
   * component state
   */
  data: function() {
    return {
      n_speed: 0
    }
  },
  /**
   * Function of computed values
   */
  computed: {
    state() {
      return this.$store.getters.getState
    }
  },
  methods: {
    /**
     * method called on pickup
     * @param {string} type : powerup type
     */
    onPickup(type) {
      // player state on the app
      const me = this.$store.getters.getMe
      me.powerUps[type] = me.powerUps[type] + 1
    },
    /**
     * method called when powerup is to be used
     */
    use() {
      // global state on the app
      const state = this.$store.getters.getState
      state.game.me.speed += 1
    }
  },
  /**
   * method called when component is mounted
   */
  mounted() {
    this.n_speed = this.state.game.me.powerUps.speed
  }
}
</script>
