<template>
  <b-avatar square badge badge-variant="dark">
    <img
      v-for="id in n_scent"
      :key="id"
      draggable
      @dragstart="startDrag($event, id)"
      class="powerUp"
      v-bind:id="'scent' + id"
      src="../../assets/scent.png"
      alt="powerupscent" />
       <img v-if="n_scent==0"
          class="powerUp"
          src="../../assets/scent.png"
          alt="powerup seal"/>

     <template #badge>{{n_scent}}</template>
  </b-avatar>
</template>

<script>
export default {
  name: 'PowerUpSent',
  /**
   * component state
   */
  data: function() {
    return {
      n_scent: 0
    }
  },
  /**
   * Function of computed values
   */
  computed: {
    state() {
      return this.$store.getters.getState
    }
  },
  methods: {
    /**
     * method called when powerup is starts drag event
     * @param {event} ev : event from DOM
     * @param {string} id : id of the powerup
     */
    startDrag: (ev, id) => {
      ev.dataTransfer.dropEffect = 'move'
      ev.dataTransfer.effectAllowed = 'move'
      ev.dataTransfer.setData('text', 'scent' + id)
    }
  },
  /**
   * method called when component is mounted
   */
  mounted() {
    this.n_scent = this.state.game.me.powerUps.scent
  }
}
</script>
