<template>
  <b-avatar square badge badge-variant="dark">
    <img
      v-for="id in n_seal"
      :key="id"
      draggable
      @dragstart="startDrag($event, id)"
      class="powerUp seal"
      v-bind:id="'seal' + id"
      src="../../assets/seal.png"
      alt="powerup seal"
    />
    <img
      v-if="n_seal == 0"
      class="powerUp"
      src="../../assets/seal.png"
      alt="powerup seal"
    />
    <template #badge>{{ n_seal }}</template>
  </b-avatar>
</template>

<script>
export default {
  name: 'PowerUpSeal',
  /**
   * component state
   */
  data: function() {
    return {
      n_seal: 3
    }
  },
  /**
   * Function of computed values
   */
  computed: {
    state() {
      return this.$store.getters.getState
    }
  },
  methods: {
    /**
     * method called when powerup is starts drag event
     * @param {event} ev : event from DOM
     * @param {string} id : id of the powerup
     */
    startDrag: (ev, id) => {
      ev.dataTransfer.dropEffect = 'move'
      ev.dataTransfer.effectAllowed = 'move'
      ev.dataTransfer.setData('text', 'seal' + id)
    },
    /**
     * method called when powerup is to be used
     */
    use() {
      // player state on the app
      const me = this.$store.getters.getMe
      me.powerUpsToUse.forEach(power => {
        power(me)
      })
    }
  },
  /**
   * method called when component is mounted
   */
  mounted() {
    this.n_seal = this.state.game.me.powerUps.seal
  }
}
</script>
